# --- Python ---
__pycache__/
*.py[cod]
*.so
*.log
*.tmp

# --- Virtual Environments ---
.venv/
env/
venv/
ENV/

# --- IntelliJ IDEA / PyCharm ---
.idea/
*.iml
.shelf/
*.ipr
*.iws
workspace.xml
tasks.xml

# --- macOS / Windows ---
.DS_Store
Thumbs.db

# --- Build / Distribution ---
build/
dist/
*.egg-info/

# --- Environment Variables ---
.env
