# Handle line endings automatically
* text=auto

# Force LF line endings for all Python-related files
*.py text eol=lf

# Treat shell scripts as text and use LF endings
*.sh text eol=lf

# Markdown and common text files
*.md text
*.txt text

# Ignore environment & IDE folders in linguist language stats
.idea/ linguist-vendored
.venv/ linguist-vendored

# Treat JSON files as text
*.json text
